.main-container
  .image-header
    .overlay
    .background
    .text
      .row
        / Left Side
        .col-lg-6.col-sm-6
          .holder
            .inner
              %h3 Dashboard
              %h4
        / Right Side
        .col-lg-2.col-sm-2
          .holder
            .header-widget
              .icon
        .col-lg-2.col-sm-2
          .holder
            .header-widget
              .icon
               
        .col-lg-2.col-sm-2
          .holder
            .header-widget
              .icon
                %i.fa.fa-dribbble
                = current_user.boards ? current_user.boards.count : 0
              .description 
                // 
                = t('boards')
  .container
    .row
      .col-lg-12
        / Box Start
        .box
          / Title Bar Start
          .box-title.red
            %span= t('.my_boards')
            %a.btn.btn-lg.create_board{"data-target" => "#myModal", "data-toggle" => "modal"}
              %i.fa.fa-plus
                Create board 
          / Content Start
          .content
            - if current_user.boards.exists?
              .row
                .col-lg-12
                  - current_user.boards.each do |board|
                    .col-lg-3.col-md-6.col-sm-6
                      .widget-box
                        =link_to board_path(board) do                
                          .text
                            %div.text-center            
                              %strong= board.title
                              %p Privado
                        .counter-board.red 5
                        .counter-board.yellow 7
                        .counter-board.blue 2
                        .counter-board.green 22
                         
            - else
              %p
                = t('.no_boards_yet')
                / Button trigger modal

/ Modal
#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#myModalLabel.modal-title Modal Form      
      = form_for @newboard, :html => { :multipart => true } do |f|
        .modal-body
          = f.label(:title)
          = f.text_field(:title)
        .modal-footer
          = f.submit "Create!", class: "button btn btn-primary"
           